# Project Constants
PROJECT_SLUG=strapi_boilerplate

# Node Settings
ENVIRONMENT=development

# Timezone Settings
TIMEZONE='America/Sao_Paulo'

# Strapi Credentials
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=

# Frontend Settings:
NEXT_PUBLIC_GOOGLE_ANALYTICS=G-xxxxxxxxx
NEXT_PUBLIC_FRONTEND_URL=

# Postgres Credentials
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_CLIENT=postgres

#CLOUDINARY
CLOUDINARY_NAME=tobemodified
CLOUDINARY_KEY=tobemodified
CLOUDINARY_SECRET=tobemodified
CLOUDINARY_FOLDER=tobemodified