---
import {
  getAllBlogPosts,
  getBlogPostBySlug
} from "@lib/blogQueries";

import BlogHeader from "@components/blog-header.astro";
import MainLayout from "@layouts/main-layout.astro";
import BlogGrid from "@components/BlogGrid.astro";

import type { APIResponseCollection, APIResponseData } from "@interfaces/strapi";

const url = import.meta.env.STRAPI_URL + "/graphql";

const query = `
{
  posts {
    data {
      attributes {
        title
        slug
        excerpt
        category {
          data {
            id
            attributes {
              name
            }
          }
        }
        author {
          data {
            id
            attributes {
              name
              bioImage {
                data {
                  attributes {
                    name
                    width
                    height
                    url
                  }
                }
              }
            }
          }
        }
        featuredImage {
          data {
            attributes {
              name
              width
              height
              url
            }
          }
        }
      }
    }
    meta {
      pagination {
        total
        page
        pageSize
        pageCount
      }
    }
  }
}`;

const response = await fetch(url, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: query,
  }),
});

//const { data } = await response.json();



const { data } = (await response.json()) as APIResponseCollection<"api::post.post">;

const postData = await getAllBlogPosts();

const postDatadata = (await getBlogPostBySlug('first-one')) as APIResponseData<"api::post.post">;
console.log(postData);
console.log(postDatadata);

---

<MainLayout title="Static Blog">
  <BlogHeader />
  <section class="container py-10">
    <BlogGrid posts={data} />

    {postData?.attributes && 
    <BlogGrid post={postData} />
    }

  </section>
</MainLayout>

